<!DOCTYPE >
<html>
<head>
	<title></title>
</head>
<body bgcolor="#cea0ae">
 <img src="samira3.jpeg" alt="samira" style="width:400px;height:500px;">




<p> Hi my name is samira i'm a 16 years old i study at a christian school  called salvatorian sister's school i starterd this project in order to make girls like me to feel a lot better about their bodies and share their experiences together in order to feel like someone is there for them and they shouldn't fee guilty abouty them selves and that it's not wrong to be plus sized and you should feel more comfortable about their bodies , and as a plus sized girl i know how difficult it is to find good clothes for your body so i connected pages that shows clothing for plus sized women to hold their confience higher and i connected chats for people to share together their personal problems and fears, I wanted to show them that it's not wrong to be fat or plus sized you should be you no matter what anyone says. 



</body>
</html>